@model UploadViewModel

@{
    ViewData["Title"] = "Загрузка из файла";
}

<h3>Выберите файл для загрузки</h3>

@if (Model != null && !string.IsNullOrWhiteSpace(Model.Message))
{
    <br />

    <p>
        <strong>Message:</strong> <code>@Model.Message</code>
    </p>
}

<br />

<form asp-action="Parse" asp-controller="Assets" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" /><br>
    <br />
    <input type="submit" value="Загрузить" />
</form>


